<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583281138905-ve7obfg1cit2j7m3pbq3rqp1b6458h98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583281138905-ve7obfg1cit2j7m3pbq3rqp1b6458h98</string>
	<key>API_KEY</key>
	<string>AIzaSyDdHoOz91mZqa5jP7sV-MOIdMieUsX_n7A</string>
	<key>GCM_SENDER_ID</key>
	<string>583281138905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>niketha.iOSCW</string>
	<key>PROJECT_ID</key>
	<string>ioscwdb-ffbd6</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscwdb-ffbd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:583281138905:ios:319f201bc6ed9005d932c8</string>
	<key>DATABASE_URL</key>
	<string>https://ioscwdb-ffbd6-default-rtdb.firebaseio.com</string>
</dict>
</plist>
