<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805771667511-l9kpir4t8v4lo45ma3elrr4epm6sivof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805771667511-l9kpir4t8v4lo45ma3elrr4epm6sivof</string>
	<key>API_KEY</key>
	<string>AIzaSyAr5_UvuMY8Cssy6N4Zo4qW6wOrRpcCnyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>805771667511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>niketha.iOSCW</string>
	<key>PROJECT_ID</key>
	<string>ioscwdb</string>
	<key>STORAGE_BUCKET</key>
	<string>ioscwdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805771667511:ios:7d83044d98b5da6934b7b2</string>
</dict>
</plist>